:root {
  --color-text-success: green;
  --color-text-critical: red;
  --color-text-caution: orange;
  --color-text-subdued: grey;
  --color-text-inverse: white;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  --type-ratio: 1.33;

  --body-font-size: 1rem;

  --font-size-4: calc(var(--body-font-size) * var(--type-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--type-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--type-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--type-ratio));
}
