:root {
  --color-text-success: green;
  --color-text-critical: red;
  --color-text-caution: orange;
  --color-text-subdued: grey;
  --color-text-inverse: white;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --font-size-100: 0.5rem;
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.375rem;
  --font-size-700: 1.5rem;
  --font-size-800: 1.625rem;
  --font-size-900: 1.75rem;
  --font-size-1000: 2rem;
  --font-size-1100: 2.375rem;
  --font-size-1200: 3rem;
  --font-size-1300: 3.5rem;
  --font-size-1400: 4rem;
  --font-size-1500: 4.25rem;
  --font-size-1600: 4.25rem;
  --font-size-1700: 4.5rem;
  --font-size-1800: 4.75rem;
}
