@import './styles/tokens.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Deactivate auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 12px;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 640px) {
    font-size: 16px;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
