.h1 {
  font-size: var(--font-size-700);
  max-width: 22ch;
}
.h2 {
  font-size: var(--font-size-600);
  max-width: 30ch;
}
.h3 {
  font-size: var(--font-size-500);
  max-width: 40ch;
}
.h4 {
  font-size: var(--font-size-400);
}
