.h1 {
  font-size: var(--font-size-600);
  margin: 20px; // $rebranded-spacing-scale

  @media screen and (min-width: 768px) {
    font-size: var(--font-size-1000);
    margin: 32px; // $rebranded-spacing-scale
  }

  // etc...
}

// h2, h3, h4, h5, h6 etc...
